<% provide(:title, 'Home') %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% @posts.each do |post| %>
		<article>
			<div class="page-header">
				<h1><%= link_to post.title, post_path(post) %></h1>
			</div>
			<p><small>Posted <%= time_ago_in_words(post.created_at) %> ago.</small></p>
			<%= dat_markdown(post.text) %>
		</article>
		<% end %>
		<%= will_paginate @posts %>
	</div>
</div>