
/* Override bootstrap variables before the @import directive */

@import "bootstrap";

/* Custom CSS and SCSS */

/* Space between New Post button and Posts List table */
table {
	margin-top: $line-height-computed;
}

/* Sticky footer http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}